#my-container{
    display: flex;
    justify-content:space-between;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    margin-top: 1rem;
    
    
}
#services{
    display: flex;
    gap:8rem;
    margin-top: 3rem;
    flex-wrap: wrap; /* allow items to wrap on small screens */
    justify-content: center;
    
    
}
#tittle-s{
    color:#F4320B;
}
h2{
    color:#00D7F8;
}


img{
    border-radius: 50%;
    max-width: 250px;
    width: 100%;
}
h2{
    margin-left: 0;
}
#description{
    font-size: 23px;
    font-family: serif;
}
#tittle{
    font-family: serif;
}
p{
    font-family: serif;
}



/* card for each service */
#my-services{
    background-color: transparent; /* removed bright background */
    min-height: 260px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    box-sizing: border-box;
}