#about-page {
    width: 100%;
    height: 95vh;
    /* full screen */
    background-image: url('/jonathan-kemper-9JgbRvW8CJo-unsplash.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    
    
    
    align-items: flex-start;
    
    
}
h2{
    font-size:40px;
    color:#F54927;
    font-family: Arial,  "Times", "Times New Roman", "Georgia", serif;;
}
p{
    font-size:26px;
    color: #000;
    font-family:  "Times", "Times New Roman", "Georgia", serif;;
}
#description {
    
    padding-left: 150px;
    padding-top:15px ;
    color: black;
}